.paragraph-1 {
    background: green;
}
.paragraph-2 {
    border: red dotted 4px;
/** margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px; **/
    margin: 60px;
/** padding-top: 40px; **/
    padding: 40px;
}

.paragraph-3 {
    color: blue;
    font-family: Courier;
}

.info {
    font-weight: bold;
}

.paragraph-4 {
    font-style: italic;
    font-size: 24px;
    text-align: center;
    text-shadow: green 2px 5px;
}